.section{
    border-radius: 16px;
    box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(255, 255, 255, 0.4);

}
.contactashu{
    margin-top: 5rem;
}

.container.contact__container{
    width: 58%;
    display: flow-root;
    grid-template-columns: 30% 58%;
    gap: 12%;


}
.contact__options{
    display: flex;
    flex-direction:column;
    gap: 1.2rem;
}

.contact__option{
    background: var(--color-bg-vrient);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact__options:hover{
    background:transparent;
    border-color: var(--color-primary-varient);
}

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    
}
.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8;

}
/*==============FORM==============*/

form{
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color:  var(--color-bg-vrient);
    border-radius: 12px;

}
input,textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
    color: white;
}

/*===========================MEDIA QUARIES (MEDIUM/SMALL DEVICES)===============*/

@media screen and (max-width:1024px) {
    .container.about__container{
        grid-template-columns: 1fr;
        gap: 2rem;

    }
    
}
/*===========================MEDIA QUARIES (MEDIUM/SMALL DEVICES)================*/
@media screen and (max-width:600px) {
    .container.about__container{
        grid-template-columns: 1fr;
        width: var(--container-width-ms);
        gap: 2rem;
        
    }

    
}