@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,800&family=Poppins:wght@300;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root{
  --color-bg:#1f1f38;
  --color-bg-vrient:#2c2c6c;
  --color-primary:#4db5ff;
  --color-primary-varient:rgba(77,181,255,0.4);
  --color-white:#fff;
  --color-light:rgba(255,255,255,0.6);
  --container-width-lg:75%;
  --container-width-md:86%;
  --container-width-ms:90%;
  --transition: all 400ms ease;

}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display:none ;
}

body{
  font-family: 'Nunito', sans-serif;
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url(../src/assets/bg-tecture2.jpg);
}
/*==============GENERAL STYLES==========*/
.container{
  width: var(--container-width-lg);
  margin: 0 auto;

}

h1{
  font-weight: 700;
}
h2,h3,h4,h5{
  font-weight: 500;

}
h1{
  font-size: 2.5rem;
}

section >h2, section >h5{
  text-align: center;
  color: var(--color-light);
}
section >h2{
  color: var(--color-primary);
  margin-bottom: 3rem;

}
.text-light{
  color: var(--color-light);

}
a{
  color:var(--color-primary);
  transition: var(--transition);

}
a:hover{
  color: var(--color-white);
}
.btn{
  margin: 10px;
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding:5px;
  border-radius: 0.4rem;
  cursor:pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}
.btn:hover{
  background: var(--color-white);
  color:var(--color-bg);
  border-color: transparent;
}
.btn-primary{
  background: var(--color-primary);
  color: var(--color-bg);
}
img{
  display: block;
  width: 100%;
  object-fit: cover;
}

/*=============MEDIA QUARIES (MEDIUM DEVICES)=======*/
@media screen and (max-width:1024px){
  .container{
    width: var(--container-width-md);
  }
}

/*=============MEDIA QUARIES (SMALL DEVICES)=======*/
@media screen and (max-width:600px){
  .container{
    width: var(--container-width-ms);
  }
  section >h2{
    margin-bottom: 2rem;
  }
}



/*======================== Musics Section===============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}


.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.c-player {
  display: block;
  background-color: transparent;
  display: block;
  margin: 0px auto;
  padding: 50px;
  border-radius: 16px;
  box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}

.c-player > h4 {
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.c-player > p {
  color: #AAA;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.c-player > p span {
  font-weight: 400;
}

.c-player--details .details-img {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.c-player--details .details-img img {
  display: block;
  margin: 50px auto;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8), -6px -6px 12px rgba(255, 255, 255, 0.4);
}

.c-player--details .details-img:after {
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  left: -25px;
  right: -25px;
  bottom: -25px;
  border-radius: 50%;
  border: 3px dashed rgba(255, 206, 0, 1);
}

.c-player--details .details-title {
  color: #EEE;
  font-size: 28px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(255,255,255,0.4);
  text-align: center;
  margin-bottom: 10px;
}

.c-player--details .details-artist {
  color: #AAA;
  font-size: 20px;
 
  text-align: center;
  margin-bottom: 20px;
}

.c-player--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.c-player--controls .play-btn {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px 10px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  background-color: #FFCE00;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
}

.c-player--controls .skip-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  font-size: 18px;
}